.logout-button {
    margin-left: 10px;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #e1f16b
}

caption { 
    text-align: left;
}

table {
  border: 1px solid black;
  text-align: left;
  vertical-align: auto;
}

th, td {
    padding: 5px;
    text-align: left;
}

tr {
      vertical-align: top;
}

.song-level {
    text-indent: 2em;
}

.movie-level {
    margin-left: 65px;
}